---
import { Image } from "astro:assets";

const {
  src,        // ← import した画像オブジェクトを受け取る
  alt = "",
  caption = "",
  url = "",
  width = "auto",     // "auto" | "300px" | "80%" など自由
  align = "center"    // left | center | right
} = Astro.props;

const alignClass = {
  left: "align-left",
  center: "align-center",
  right: "align-right"
}[align] ?? "align-center";
---
<div class={`image-wrap ${alignClass}`}>
  <div class="inner-wrap" style={`width: ${width};`}>
    <Image src={src} alt={alt} />

    {caption && (
      url
        ? <p class="caption"><a href={url} target="_blank" rel="noopener noreferrer">{caption}</a></p>
        : <p class="caption">{caption}</p>
    )}
  </div>
</div>

<style>
.image-wrap {
  margin: 2rem 0;
  display: flex;
}

.align-left { justify-content: flex-start; }
.align-center { justify-content: center; }
.align-right { justify-content: flex-end; }

.inner-wrap {
  text-align: center;
}

.inner-wrap :global(img) {
  width: 100%;
  height: auto;
  border-radius: 0px;
}

.caption {
  margin-top: 0.5rem;
  margin-bottom: 0rem;
  font-size: 0.75rem;
  color: #666;
}

.caption a {
  color: #666;
  text-decoration: none;
}

.caption a:hover {
  opacity: 0.8;
}

@media (max-width: 970px) {
  .caption {
  font-size: 0.65rem;
}
}
</style>